@model IEnumerable<DemoMvcProject.Entities.Concrete.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

           @* @await Component.InvokeAsync("ProductList")*@

           <vc:product-list></vc:product-list>