@model UpdateProductPhotoDto

<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdatePhoto" asp-controller="Product" enctype="multipart/form-data">
            <input type="hidden" asp-for="ProductId" value="@Model.ProductId" />
            <input type="hidden" asp-for="ProductPhotoId" value="@Model.ProductPhotoId" />
            <img src="~/images/@Model.ImagePath" alt="@Model.ImagePath" class="img-fluid" />
            <div class="form-group mt-3">
                <label name="file" id="file" class="control-label">Ürün Fotoğrafı</label>
                <input type="file" name="file" id="file" accept="image/*" class="form-control" />
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
